/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");



/* Root CSS */
body {
  font-family: "Poppins", sans-serif;
}

#dropdown-menu:hover #dropdown-content{
  display:block;
}

.bg-image-blur{
  background-image: url('./assets/kawaguchiko-city.jpg');
  filter: blur(6px);
}

.bg-image{
  background-image: url('./assets/kawaguchiko-city.jpg');
}

#flag::after{
  content: "";
  width: 60px;
  height: 30px;
  background-color: white;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-90deg);
  left:275px;
  top:35px
}

/* Pagination */

.pagination{
  display: flex;
  align-items:center;
  margin-top: 40px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  user-select:none;
}

.page-item {
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  transition: all 0.3s;
}

.page-item:hover {
  color: #ff3838;
  background: #9b9b9b;
}

.page-item.active {
  padding: 0;
  color: white;
  background: #05103b;
}

.page-item.arrow-icon {
  position: relative;
  z-index: 1;
  font-size: 35px;
  transform: translateY(-2px);
  transition: all 0.3s;
}

.page-item.arrow-icon:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-item.arrow-icon:hover {
  color: #ff3838;
  background: transparent;
}

.page-item.arrow-icon:hover:after {
  background: #9b9b9b;
}

.page-item.disabled {
  cursor: not-allowed;
  color: #9b9b9b;
}

.page-item.disabled:hover {
  background: transparent;
}


/* ------------ */
.text-primary{
  color : #5a8dee !important;
}
.card {
   /* box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3); */
  background-color: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
}
.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  background-color: #ebedf0;
  transition: 0.3s;
}
.rc-accordion-toggle.active{
  background-color: #5a8dee;
}
.rc-accordion-toggle.active .rc-accordion-icon{
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card{
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 3px;
  overflow: hidden;
}
.rc-accordion-card:last-child{
  margin-bottom: 0;
}
.rc-accordion-title{
  font-weight: 500;
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  color: #475F7B;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title{
  color: #fff;
}
.rc-accordion-icon{
  position: relative;
  top: 2px;
  color: #475F7B;
  transition: 0.35s;
  font-size: 12px;
}
.rc-accordion-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}
.rc-accordion-body p{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727E8C;
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show{
  height: auto;
}
